body {
    background-color: #739EC9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
}

h1 {
    color: #fff;
}

form {
    background-color: #FFE8DB;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 10px 20px #5682B1;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: #5682B1;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.8s;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.container-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 140px;
}

.cards{
    border: 2px #ffffff solid;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    min-height: 250px;
    transition: all 0.3s ease;
}
.cards a{
    text-decoration: none;
    color:#fff;
}
.cards:hover{
    border-color:#ffffff;
    background-color: #69339e75;
    transform: scale(1.02);
    
}

#start{
    background-color: #69339e75;
    padding: 10px 20px;
    border-radius: 10px;    
    cursor: pointer;
    transition: background 0.8s;

}

#start:hover{
    transition: all 0.3s ease;
    background-color: #fff;
    color: #69339e75;
}

h2{
    color: #fff;
}

p{
    color: #fff;
}

.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* separa o h1 e o menu */
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 80px;
    width: 60%; 
    padding: 0 30px; /* dá espaço interno */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

#menu a{
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    color: #5682B1;
}

#menu:hover{
    color: #000;
}